{% load date_tags %}
<div class="side_modal-content prevclose" style="width: 1000px;right: -1000px;">
    <div>
        <div class="zone" style="width: 100%; min-height: 720px">
            <span class="sub_title">구매 계약 작성</span>
            <div id="gridtable_offerdtl"></div>
            <form id="newcontform">
                <input name="odbid_id" id="accofferodbidid" value="{{ ODBID_ID }}" hidden/>
                <input name="com_id" id="accoffercomid" value="{{ COM_ID }}" hidden/>
                <table class="table" style="width: 100%">
                    <tr>
                        <td colspan="2" style="vertical-align: bottom">
                            <span class="input_title" style="float: left" readonly>본 문</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea name="cont_body" class="input"
                                      style="resize: none; width: 100%; height: 150px">성실히 계약상의 의무를 이행할 것을 확약하며, 이 계약의 증거로서 계약서를 작성하여 당사자가 기명날인한 후 각각 1통씩 보관한다.</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input_box">
                                <span class="input_title">계약 방법</span>
                                <input name="cont_tp" type="text" class="input" style="width: 100%" value="공개견적"
                                       readonly>
                            </div>
                        </td>
                        <td>
                            <div class="input_box">
                                <span class="input_title">계약 업체명</span>
                                <input name="icom_nm" type="text" class="input" style="width: 100%" value="{{ COM_NM }}"
                                       readonly>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input_box">
                                <span class="input_title">계약명</span>
                                <input name="cont_nm" type="text" class="input" style="width: 100%"
                                       value="{{ NOTI_NM }}">
                            </div>
                        </td>
                        <td>
                            <div class="input_box">
                                <span class="input_title">계약 작성일자</span>
                                <input name="cont_dt" type="date" class="input" style="width: 100%" value="{% today %}"
                                       readonly>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input_box">
                                <span class="input_title">계약보증금(%)</span>
                                <input name="cont_depo" type="number" min="0" max="100" maxlength="2" class="input"
                                       style="width: 50%" value="10">
                                <span>%</span>
                            </div>
                        </td>
                        <td>
                            <div class="input_box">
                                <span class="input_title">납품일자</span>
                                <div class="date_line">
                                    <input name="delive_stdt" type="date" class="input"
                                           value="{% today %}" min="{% today %}">

                                    <span class="date_wave">~</span>
                                    <input name="delive_eddt" type="date" class="input"
                                           value="{% today %}" min="{% today %}">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="input_box">
                                <span class="input_title">납품지 주소</span>
                                <input name="delive_add" type="text" class="input" style="width: 100%">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="vertical-align: bottom">
                            <span class="input_title" style="float: left" readonly>기타사항</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea name="cont_rmk" class="input"
                                      style="resize: none; width: 100%; height: 100px"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input_box">
                                <span class="input_title">공급업체명</span>
                                <input name="ecom_nm" type="text" class="input" style="width: 100%" value="{{ COM_NM }}"
                                       readonly>
                            </div>
                        </td>
                        <td>
                            <div class="input_box">
                                <span class="input_title">담당자</span>
                                <input type="text" class="input" style="width: 100%" readonly>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input_box">
                                <span class="input_title">대표자</span>
                                <input name="cont_manager" type="text" class="input" style="width: 100%" readonly>
                            </div>
                        </td>
                        <td>
                            <div class="input_box">
                                <span class="input_title">사업자등록번호</span>
                                <input name="business_no" type="text" class="input" style="width: 100%" readonly>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="comp_line flex1">
                <div>
                    <button class="btn btn_basic" id="acc_offer" type="button">계약 작성</button>
                </div>
                <div>
                    <button class="btn btn_gray" id="close_contmodal" type="button">작성 취소</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    grid_offerdtl = gridform_offerdtl("gridtable_offerdtl")
    setgrid(grid_offerdtl, 0, 1)

    $(document).ready(function () {
        read_grid_offerdtl()
    })

    function read_grid_offerdtl() {
        const obj = {};
        obj["action"] = "get_offerdtl"
        obj["ODBID_ID"] = $("#accofferodbidid").val()
        obj["COM_ID"] = $("#accoffercomid").val()
        grid_offerdtl.readData(1, obj, false)
    }

    $("#acc_offer").on("click", function () {
        mpop.confirm("계약 초안을 전달하시겠습니까?", function () {
            let cont_info = $('#newcontform').serialize();
            $.ajax({
                url: "{% url 'int:actapi' %}",
                type: 'POST',
                data: {
                    "action": "reg_newcont",
                    "cont_info": cont_info
                },
                success: function (response) {
                    if (response["state"]) {
                        mpop.success("계약 초안을 작성하였습니다.")
                        hide_modal()
                        read_grid_accoffer()
                    } else {
                        mpop.error("실패하였습니다.")
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
    })

    $("#close_contmodal").on("click", function () {
        mpop.confirm("계약 작성을 취소하시겠습니까?", function () {
            hide_modal()
        })
    })
</script>