{% extends "ext/e_base.html" %}
{% load date_tags %}
{% block content %}
    <div>
    </div>
    <div class="main_content">
        <div class="main_contents">
            <span class="sub_title">공급 계약({{ CONT_ID }})</span>
            <div id="table_contdetail" style="position: relative; z-index: 0;"></div>
            <form>
                <textarea class="input" style="resize: none; width: 100%; height: 200px"
                          disabled>{{ CONT_BODY }}</textarea>
                <div class="input_box">
                    <span class="input_title">계약 방법</span>
                    <input type="text" class="input" value="공개견적" disabled/>
                </div>
                <div class="input_box">
                    <span class="input_title">계약명</span>
                    <input type="text" class="input" value="{{ CONT_NM }}" disabled>
                </div>
                <div class="input_box">
                    <label class="input_title">수요 업체명</label>
                    <input type="text" class="input" value="{{ ICOM_NM }}" disabled>
                </div>
                <div class="input_box">
                    <label class="input_title">계약 담당자</label>
                    <input type="text" class="input" value="" disabled>
                </div>
                <div class="input_box">
                    <span class="input_title">계약 작성일자</span>
                    <input type="text" class="input" value="{{ CONT_DT }}" disabled>
                </div>
                <div class="input_box">
                    <span class="input_title">계약보증금(%)</span>
                    <input type="text" class="input" value="{{ CONT_DEPO }}" disabled>
                </div>
                <div class="input_box">
                    <span class="input_title">납품일자</span>
                    <input type="text" class="input" value="{{ DELIVE_STDT }}" style="width: 100px" disabled>
                    <span>~</span>
                    <input type="text" class="input" value="{{ DELIVE_EDDT }}" style="width: 105px" disabled>
                </div>
                <div class="input_box">
                    <span class="input_title">납품지 주소</span>
                    <input type="text" class="input" style="width: 900px" value="{{ DELIVE_ADD }}" disabled>
                </div>
                <textarea class="input" style="resize: none; width: 100%; height: 100px"
                          disabled>{{ CONT_RMK }}</textarea>
            </form>
        </div>

        <div class="comp_line flex1">
            <div>
                <button class="btn" id="backtolist">목록</button>
            </div>
        </div>
    </div>
    <input id="contdetail_odbidid" value="{{ ODBID_ID }}" hidden>
    <input id="contdetail_contid" value="{{ CONT_ID }}" hidden>
{% endblock content %}
{% block script %}
    <script>
        grid_contdetail = gridform_contdetail("table_contdetail")
        setgrid(grid_contdetail)

        $(document).ready(function () {
            read_grid_contdetail()
        })

        function read_grid_contdetail() {
            const obj = {};
            obj["action"] = "get_offerdetail"
            obj["odbid_id"] = $("#contdetail_odbidid").val()
            grid_contdetail.readData(1, obj, false)
        }

        $("#backtolist").on("click", function () {
            window.history.go(-1);
        })

    </script>
{% endblock %}