<div class="side_modal-content" style="width: 1000px;right: -1000px;">
    <div>
        <input value="{{ ODBID_ID }}" id="odbiddtl_odbid_id" hidden/>
        <div class="zone" style="width: 100%; min-height: 720px">
            <span class="sub_title">견적 요청 상세</span>
            <form>
                <table class="table" style="width: 100%">
                    <tr>
                        <td>
                            <div class="input_box">
                                <span class="input_title">구매구분</span>
                                <select class="input" disabled>
                                    <option value="{{ NOTI_TP }}">공개견적</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input_box">
                                <span class="input_title">견적 마감일</span>
                                <div class="date_line">
                                    <input type="date" class="input" value="{{ NOTI_DD }}"
                                           readonly>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="input_box">
                                <span class="input_title">견적 요청명</span>
                                <input type="text" class="input" style="width: 100%" value="{{ NOTI_NM }}" readonly>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="vertical-align: bottom">
                            <span class="input_title" style="float: left" readonly>주요 요청 사항</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                                    <textarea class="input"
                                              style="resize: none; width: 100%; height: 200px"
                                              readonly>{{ NOTI_INFO }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="input_box">
                                <span class="input_title">첨부파일</span>
                                <a href="#">{{ ATT }}</a>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="comp_line flex4">
                    <div style="color: gray; font-size: 12px; margin-top: 12px;">
                        * 단가 정보는 공급업체에 공개되지 않습니다.
                    </div>
                </div>
                <div id="gridtable_odbiddtl"></div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        grid_odbiddtl = gridform_odbiddtl("gridtable_odbiddtl")
        setgrid(grid_odbiddtl, 0, 1)

        $(document).ready(function () {
            const obj = {};
            obj["action"] = "get_odbiddtl_modal"
            obj["odbid_id"] = $("#odbiddtl_odbid_id").val()
            grid_odbiddtl.readData(1, obj, false)
        })
    </script>
</div>